header {
  grid-area: hd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.0em;
  background: #673ab7;
}

#logo,
#header h1,
#header h2,
#header h3,
#header h4 {
  color: #fff;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  height: 3.0em;
  margin-left: 20px;
}

#logo h2 {
  font-size: 1.8em;
  margin-left: 0.6rem;
}

#app-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#app-controls a {
  margin-left: 10px;
}
