#board-controls {
  margin: 0 20px;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / span 12;
  height: max-content;
  align-items: center;
}

#board-title {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  height: 100%;
  position: relative;
}

#board-title .pencil-icon {
  display: none;
  cursor: pointer;
}

#board-title:hover .pencil-icon {
  display: inline-block;
}

.board-title--text {
  display: block;
  margin: 0;
  padding: 5px 0px;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
}

.board-actions {
  grid-row: 1 / span 1;
  grid-column: 11 / span 2;
  text-align: right;
}

.stars-remaining {
  grid-row: 2 / span 1;
  grid-column: 11 / span 2;
  display: inline-block;
  text-align: right;
}
