.body-row > button {
  width: 100%;
  padding: 0.5em 0;
}

.column {
  flex-grow: 1;
  margin: 20px 10px;
}

.column-edit > input {
  /* The same font-size and margin as a h2 element */
  font-size: 1.5em;
  margin: 1.0em 0;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

