html, body, #react-root {
  height: 100%;
  background-color: #e6e6e6;
}

body {
  margin: 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h2 {
  font-size: 1.5em;
  margin: 1.0em 0;
}

.alert {
  display: none;
}

.alert--show {
  position: fixed;
  bottom: 0px;
  display: block;
}

.alert-vote-limit {
  border: 1px solid orangered;
  background-color: #363636;
  width: 100%;
  color: white;
  padding: 5px 10px
}
