main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 88%;
  grid-template-rows: 4% 1fr;
}

#columns {
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  display: flex;
  padding-top: 20px;
  margin: 0 10px;
}
