/* CSS Icons from https://css.gg */
@import url('https://css.gg/c?=|check|close|pen|sort-az|sort-za|trash|undo');

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4% 1fr;
  --ggs: 1;
}

#columns {
  grid-row: 2 / span 1;
  grid-column: 1 / span 12;
  display: flex;
  padding-top: 20px;
  margin: 0 10px;
}

.add-column--button-filler {
  height: 1.5em;
  margin: 1.0rem 0;
}

.button--add-column {
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--green);
  font-size: 1.6em;
  padding: 0 0.4em 0.2em 0.4em;
  font-weight: 200;
}

.button--add-column:hover {
  background-color: #88d488;
}
