:root {
  --timer-light-color: #fff;
}

.timer-control input {
  width: 50px;
  color: var(--timer-light-color);
  outline: none;
  border: 1px solid white;
}

/* Hide number input arrows */
.timer-control input::-webkit-outer-spin-button,
.timer-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.timer-control input[type=number] {
  -moz-appearance: textfield;
}

.timer-display {
  display: flex;
  align-items: baseline;
  color: var(--timer-light-color);
  justify-content: center;
  width: 40vw;
  transition: display 1s linear;
}

.timer-display .digits {
  text-align: right;
  margin-right: 0.6rem;
  width: 80px;
  color: var(--timer-light-color);
}
