:root {
  --timer-light-color: #fff;
}

.timer-control {
  display: flex;
  height: 2rem;
  align-items: center;
  font-weight: 700;
}
.timer-control input {
  width: fit-content;
  color: var(--timer-light-color);
  outline: none;
  border: none;
  font-weight: 700;
}

/* Hide number input arrows */
.timer-control input::-webkit-outer-spin-button,
.timer-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer-control button {
  display: flex;
  color: var(--timer-light-color);
  align-items: center;
  justify-content: center;
  height: 1.4rem;
  width: 1.4rem;
  background: none;
}

.timer-control button .gg-play-button::before {
  left: 3px;
}

/* Firefox */
.timer-control input[type=number] {
  -moz-appearance: textfield;
}

.timer-display {
  display: flex;
  align-items: center;
  color: var(--timer-light-color);
  justify-content: center;
  transition: display 1s linear;
}

.timer-display .digits {
  text-align: right;
  margin-right: 0.6rem;
  width: 80px;
}

.timer-display input {
  text-align: right;
  padding-right: 0.2rem;
  width: 1.6rem;
}

.timer-display input + button {
  margin-left: 1rem;
}
