.card-container {
  margin-top: 0.5rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  border: 1px solid #f8fbfb;
  box-shadow: 0px 2px 3px 0px #cbced2;
  border-radius: 5px;
  flex-direction: column;
  font-size: 12pt;
  background-color: white;
  position: relative;
}

.card-container .edit-link {
  display: none;
  margin: 0 5px;
}

.card--text:hover > .edit-link {
  display: inline-block;
}

.card-container .card--text,
.card-container textarea {
  margin: 1rem 0;
  min-height: 40px;
}

.card-container textarea {
  font-size: 12pt;
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
}

.card-container .star-count,
.card-container .user-stars {
  vertical-align: middle;
  margin-right: 10px;
  user-select: none;
}

.card-container .blur {
  filter: blur(10px);
}

.star-button {
  cursor: pointer;
  padding: 2px 5px;
  font-size: 14pt;
  user-select: none;
  opacity: 0.7;
}
.star-button:hover,
.star-button:focus {
  opacity: 1.0;
}

.undo-button {
  padding: 2px 5px;
}

.card--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card--footer button[type="submit"] {
  font-size: 14pt;
}

.button--delete {
  margin-left: 5px;
}
