.card-container {
  min-height: 60px;
  border: 1px solid #2196f3;
  margin: 0.5em 0;
}

.card-container textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
}

.card-container .blur {
  filter: blur(10px);
}
