.card-container {
  border: 1px solid #D8D8D8;
  margin: 0.5em 0;
  padding: 10px 5px;
}

.card-container textarea {
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
}

.card-container .vote-count {
  vertical-align: middle;
  margin-right: 10px;
}

.card-container .blur {
  filter: blur(10px);
}
