header {
  display: grid;
  padding: 15px 0;
  grid-template-columns: repeat(12, 1fr);
  background: #673ab7;
}

#top-header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
}

#logo,
#top-header h1,
#top-header h2,
#top-header h3,
#top-header h4 {
  color: #fff;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#logo h2 {
  font-size: 1.8em;
  margin-left: 0.6rem;
}

#app-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#app-controls a {
  margin-left: 10px;
}
