header {
  display: grid;
  padding: 15px 0;
  grid-template-columns: repeat(12, 1fr);
  background: #673ab7;
}

#logo {
  font-family: "Pacifico";
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#top-header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
}

#logo,
#top-header h1,
#top-header h3 {
  color: #fff;
}

#app-controls {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
