.column-header {
  flex: 0 0 auto;
  font-size: 1.5em;
  margin: 1.0em 0;
}

.column-header > .pencil-icon {
  display: none;
}
.column-header:hover > .pencil-icon {
  display: inline-block;
}

.column-header > button {
  flex: 0 0 auto;
}
